@{
    ViewData["Title"] = "Photo Gallery";
}

<div class="photo-gallery-page">
    <h1 class="page-header">Photo Gallery</h1>
    <div class="gallery">
        <!-- First Row -->
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/image_1.jpg" alt="Firefighters at Work" class="gallery-image" />
            </div>
            <div class="col-md-4">
                <img src="~/images/image_2.jpg" alt="Fire Truck" class="gallery-image" />
            </div>
            <div class="col-md-4">
                <img src="~/images/image_3.jpg" alt="Rescue Operations" class="gallery-image" />
            </div>
        </div>
        <!-- Second Row -->
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/image_4.jpg" alt="Fire Chief Giving Directions" class="gallery-image" />
            </div>
            <div class="col-md-4">
                <img src="~/images/image_5.jpg" alt="Firefighter in Action" class="gallery-image" />
            </div>
            <div class="col-md-4">
                <img src="~/images/image_6.jpg" alt="Teamwork in Firefighting" class="gallery-image" />
            </div>
        </div>
    </div>
</div>
